<header>
    <div 
</header>


<div class="bg-gray-50 p-3">
  <section
    class="w-full bg-cover bg-center py-32"
    style="background-image: url('https://source.unsplash.com/random');"
  >
    <div class="container mx-auto text-center text-white">
      <h1 class="text-5xl font-medium mb-6">Theater and Arts</h1>
      <p class="text-xl mb-12">Checkout the Events Below</p>
      <a
        href="#"
        class="bg-indigo-500 text-white py-4 px-12 rounded-full hover:bg-indigo-600"
      >Search Bar Here?</a>
    </div>
  </section>
</div>


<script src="/js/eventpage.js"></script>