{{! Banner }}
<div class="bg-gray-50 p-3">
  <section class="w-full bg-cover bg-center py-32" style="background-color:rgba(164, 165, 161, 0.585)">
    <div class="container mx-auto text-center text-black">
      <h1 class="text-5xl font-medium mb-6">Welcome to EventPulse!</h1>
      <p class="text-xl mb-12">Get started by selecting your category below to
        find events.</p>
    </div>
  </section>
</div>

<!-- Categories -->
<div>
  {{#each classifications}}
  <div
    class="flex flex-col md:flex-row space-x-0 md:space-x-8 space-y-12 md:space-y-0 justify-center items-center mt-10">
    <div class="bg-[#635f63] rounded-xl">
      <div class="flex flex-col p-8 rounded-xl bg-white shadow-xl translate-x-4 translate-y-4 w-96 md:w-auto">
        <div class="mt-3 font-semibold text-lg"> {{classification_name}}</div>
         <a href="http://localhost:3001/event?classification_id={{id}}" class="bg-[#F4F5FA] px-4 py-3 rounded-full border border-[#F0F0F6] shadow-xl mt-4">see more</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>