<div class="row ">
  <div class="col-md-6" id="loginContainer">
    <div id="loginText">
    <h1>Login</h1>
    <h2 id="loginInstructions">Please enter your email and password below.</h2>
    </div>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
      <div class="form-group">
        <h5 id = "signupLink"><a href="/signup">Don't have an Account? Click Here to Sign Up.</a></h5>
      </div>
    </form>
  </div>


<script src="./js/login.js"></script>
