  <div class="signupcontainer col-md-6">
    <div id="signUpText">
    <h2>Sign Up for EventPulse</h2>
    <h3 id="signUpDescription">Create an Account Below.</h3>
    <h4 id ="routeToLogin"> <a href="/login">Already have an Account? Click Here to log in.</a></h4>
</div>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">First Name:</label>
        <input class="form-input" type="text" id="first-name" />
      </div>
      <div class="form-group">
        <label for="name-signup">Last Name:</label>
        <input class="form-input" type="text" id="last-name" />
      </div>
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="username" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>