.row {
  padding: 35px;
}

.row h1 {
  font-size: 40px;
}

#welcomeMessage {
  display: inline;
  background-color: rgb(226, 227, 227);
  padding: 7px;
  border-radius: 5px;
  box-shadow: 7px 5px 5px #e1d2d2;
}

#signUpText {
  font-size: 40px;
  text-align: center;
}

#signUpDescription {
  font-size: 20px;
  text-align: center;
}

.signupcontainer {
  background-color: lightgrey;
  width: 80%;
  margin: auto;
  margin-top: 60px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgb(120, 115, 115);
}

.btn.btn-primary {
  padding-bottom: 10px;
  margin: 14px;
}

#loginContainer {
  background-color: lightgrey;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgb(120, 115, 115);
}

#loginText {
  text-align: center;
}

#loginInstructions {
  text-align: center;
  font-size: 20px;
}
