:root {
  --text-background-color: lightgrey;
  --background-border-radius: 8px;
  --background-box-shadow: 10px 10px 10px rgb(120, 115, 115);
}

.row {
  padding: 35px;
}

.row h1 {
  font-size: 40px;
}

.categoryContainer {
  border: solid 2px black;
}

#gridEventContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.eventContainer {
  border-radius: var(--background-border-radius);
  border: solid 2px grey;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.eventContainer img {
  max-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.eventContainer h2 {
  font-size: 18px;
  margin: 10px 0;
}

.eventContainer div {
  font-size: 16px;
  margin-bottom: 10px;
}

.eventContainer button {
  margin-top: 10px;
}

#imgContainer {
  border-radius: var(--background-border-radius);
  box-shadow: none;
  padding-left: 0px;
  border-width: 0px;
}

#categoryTitleContainer {
  text-align: center;
  margin: 20px;
}

#categoryTitle {
  font-size: 60px;
  display: inline;
  padding: 10px;
  border-radius: var(--background-border-radius);
}

#welcomeMessage {
  display: inline;
  background-color: rgb(226, 227, 227);
  padding: 7px;
  border-radius: 5px;
  box-shadow: 7px 5px 5px #e1d2d2;
}

#signUpText {
  font-size: 40px;
  text-align: center;
}

#signUpDescription {
  font-size: 20px;
  text-align: center;
}

#routetologin {
  font-size: 15px;
  color: rgb(19, 114, 173);
}

#signUpLink {
  font-size: 15px;
  color: rgb(19, 114, 173);
}

.signupcontainer {
  background-color: var(--text-background-color);
  width: 80%;
  margin: auto;
  margin-top: 60px;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgb(120, 115, 115);
}

.btn.btn-primary {
  padding-bottom: 10px;
  margin: 14px;
}

#loginContainer {
  background-color: var(--text-background-color);
  border-radius: var(--background-border-radius);
  box-shadow: var(--background-box-shadow);
}

#loginText {
  text-align: center;
}

#loginInstructions {
  text-align: center;
  font-size: 20px;
}

#eventPageImg {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 8px;
}

#eventDetailContainer {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#eventDetailContainer h2 {
  font-size: 27px;
}

#ticketInformationContainer {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#save-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#save-btn:hover {
  background-color: #0056b3;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
